<launch>
  <node name="local_costmap_publisher" pkg="slam" type="local_costmap_publisher"/>
  <node name="local_path_publisher" pkg="slam" type="local_path_publisher"/>
  <node name="sector_publisher" pkg="slam" type="sector_publisher"/>
  <node name="velocity_publisher" pkg="slam" type="velocity_publisher"/>
  <node name="darknet_video" pkg="yolo_publisher" type="darknet_video.py"/>  
  <rosparam file="$(find slam)/slam_para.yaml" />  
</launch>
