<launch>
  <node name="gps_decoder" pkg="localization" type="gps_decoder.py" output="screen"/>
  <node name="imu_decoder" pkg="localization" type="imu_decoder"/>
  <node name="kalman_fusion" pkg="localization" type="kalman_fusion"/>
  <node name="kalman_fusion_visualizer" pkg="localization" type="kalman_fusion_visualizer.py" output="screen"/>
</launch>
